SNOWFLAKE_ACCOUNT=your_account_identifier
SNOWFLAKE_USER=your_username
SNOWFLAKE_PASSWORD=your_password
# Or set SNOWFLAKE_AUTHENTICATOR=externalbrowser and omit SNOWFLAKE_PASSWORD.
SNOWFLAKE_AUTHENTICATOR=
SNOWFLAKE_ROLE=SYSADMIN
SNOWFLAKE_WAREHOUSE=COMPUTE_WH

PROJECT_DATABASE=TRAINING_0001
PROJECT_SCHEMA=PIPELINE
PROJECT_WAREHOUSE=COMPUTE_WH
LOCAL_DATA_DIR=./data

# Optional AWS/Snowpipe settings for sql_06 / py_06.
AWS_S3_BUCKET_URL=s3://bc-snowflake-training-0001
AWS_STORAGE_INTEGRATION=resume_s3_int
AWS_STORAGE_AWS_ROLE_ARN=arn:aws:iam::472506472624:role/bc-snowflake-training-0001
AWS_SNS_TOPIC_ARN=arn:aws:sns:ap-southeast-2:472506472624:bc-snowflake-training-0001
AWS_REGION=ap-southeast-2
AWS_PROFILE=bc-snowflake-training-0001
