.myapp-footer {
  border-top: 1px solid gray;
  margin-top: 50px;
  padding-top: 30px;
}

.myapp-footer__header {
  text-align: center;
  margin: 1em;
}

.myapp-footer__items {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-bottom: 2em;
}

.myapp-footer__item {
  display: block;
  padding: 1rem;
}

.myapp-footer__image {
  max-height: 80px;
}
