.myapp-summary-card {
  border-color: #ccc;
}

.myapp-summary-card__content {
  align-items: center;
  display: flex;
}

.myapp-summary-card__icon {
  flex-shrink: 1;
  font-size: 3em;
}

.myapp-summary-card__subtitle {
  font-size: 1.2em;
}

.myapp-summary-card__text {
  flex-grow: 1;
  margin-right: 1em;
  overflow: hidden;
}

.myapp-summary-card__value {
  display: block;
  font-size: 24px;
  height: 34px;
  line-height: 1.4;
  margin-bottom: 2px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
